[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ben Stanley
[user]
	email = 29062967+benjamistan@users.noreply.github.com